{% extends "templates/nav.html" %}
{% set image = profile.image() %}
{% set meta_desc = profile.splash.description[0]|striptags %}
{#{% block social_meta %}#}
{#    <meta name="description" content="{{ meta_desc }}">#}
{#    <meta property="og:site_name" content="Data USA" />#}
{#    <meta property="og:title" content="{{ profile.splash.title }}" />#}
{#    <meta property="og:type" content="article" />#}
{#    <meta property="og:image" content="http://{{ request.host }}{{ image.url }}" />#}
{#    <meta property="og:description" content="{{ meta_desc }}"/>#}
{#{% endblock %}#}

{% block title %}{{ profile.splash.title }}{% endblock %}

{% block subtitle %}
<div id="title-bar">
  <span><a href="/"><img src="/static/img/logo_sm.png" alt="Data USA" /></a> <a href="#">{{ profile.splash.title }}</a>
  <a href="#" class="expand-stats-btn close"></a></span>
</div>
{% endblock %}

{% block body %}

<a name="top"></a>
<div class="bound">
  <div id="show-bg">
    <div><i class="fa fa-camera"></i></div>
  </div>

  <article id="splash">

    {% set sections = profile.sections() %}

    <div id="splash-image"{% if image %} style="background-image: url('{{ image.url }}');"{% endif %}></div>

    <div class="content">

      <div class="f"></div>

      <div class="splash-titles">

        <h1>{{ profile.splash.title }}</h1>
        {% if profile.attr_type == "cip" and profile.attr.is_stem %}
        <sub class="stem-label">
          {% if profile.attr.is_stem == 1 %}STEM Major{% else %}Contains STEM Majors{% endif %}
        </sub>
        {% endif %}

      </div>

      <div id="splash-stats">
        {% for stat in profile.splash.stats %}
        <div class="stat">
          <div class="stat-text">{{ stat.title|safe }}</div>
          <div class="stat-group">
            <div class="stat-value">{{ stat.value|safe }}</div>
            <div class="stat-rank">{{ stat.rank|safe }}</div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="splash-icon-nav">
        <a href="#intro" data-ga="splash intro" data-ga-cat="navigation" data-ga-label="User click">
          <img src="/static/img/icons/about.svg" />
          <span>About</span>
        </a>
        {% for section in sections %}
        <a href="#{{ section.anchor }}" data-ga="splash {{ section.title|safe|lower }}" data-ga-cat="navigation" data-ga-label="User click">
          <img src="/static/img/icons/{{ section.anchor }}.svg" />
          <span>{{ section.title|safe }}</span>
        </a>
        {% endfor %}
      </div>

    </div>

    <div id="scroll-btn">
      <div class="mouse">
        <span class="ball"></span>
      </div>
      <div class="mouse-text">Scroll to Explore</div>
    </div>

  </article> <!-- end splash  -->

  <header class="intro">

    <div class="intro-head">
      <h2 class="section-title"><a name="intro">About</a></h2>

      <div class="r">
        <div class="photo-cred">
          <a href="{{ image.link }}" target="_blank"><i class="fa fa-camera"></i></a>
          <div class="image-author"><a href="{{ image.link }}" target="_blank">Photo by {{ image.author }}</a></div>
        </div>

        <div class="breadcrumb">
          <img src="/static/img/splash/go-to-link.svg" alt="Go to another profile." />
          {% set parents = profile.parents() %}
          {% if parents|length %}
          <div class="crumb-trail">
            {% for p in parents %}
              <a href="{{ url_for('profile.profile', attr_type=profile.attr_type, attr_id=p['url_name'] if 'url_name' in p and p['url_name'] else p['id'] ) }}">{{ p["name"] }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% if profile.attr_type in ['soc', 'naics'] %}
        <div class="data-source-crumb">
          <img src="/static/img/splash/database.svg" alt="Statistics Source."/>
          <div class="crumb-trail">
            <a>All statistics above are from ACS (PUMS) unless otherwise noted.</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col">
      <div class="intro-txt">
        {% for desc in profile.splash.description %}
        <p class="desc has-p-link">{{ desc|safe }}</p>
        {% endfor %}
        {% if image.meta %}
        <p class="desc image-meta">About the photo: <i>{{ image.meta }}</i></p>
        {% endif %}
      </div>

      {% if profile.splash.viz %}
      <div class="intro-viz">
        <div class="viz thumbprint">
          <div class="d3plus"></div>
        </div>
        <script>builds.push({{ profile.splash.viz.serialize()|safe }});</script>
      </div>
      {% endif %}
    </div>

    <div id="profile-toc">
    {% for section in sections %}
      <div class="profile-toc-section">
        <h2><a href="#{{ section.anchor }}" data-ga="toc {{ section.anchor }}" data-ga-cat="navigation" data-ga-label="User click"><img src="/static/img/icons/{{ section.anchor }}.svg" /> {{ section.title|safe }}</a></h2>
        {% for desc in section.description %}
        <p>{{ desc|safe }}</p>
        {% endfor %}
        {% set categories = {"count": 0} %}
        <ul>
        {% for topic in section.topics %}
          {% if topic.category %}
          {% if categories.update({"count": categories.count + 1}) %}{% endif %}
          {% set anchor = topic.category|safe|lower|replace(" ", "_") %}
          <li><a class="pri-link" href="#{{ anchor }}" data-anchor="{{ anchor }}" data-ga="toc {{ section.anchor }} topic" data-ga-cat="navigation" data-ga-label="User click">{{ topic.category|safe }}</a></li>
          {% endif %}
        {% endfor %}
        {% if categories.count == 0 %}
        <li><a class="pri-link" href="#{{ section.anchor }}" data-anchor="{{ section.anchor }}" data-ga="toc {{ section.anchor }} topic" data-ga-cat="navigation" data-ga-label="User click">Start Exploring</a></li>
        {% endif %}
        </ul>
      </div>
    {% endfor %}
  </div>

  </header>

</div>

<div id="nav-bar-scroll">
  <div id="stats-bar">
    <div id="title-stats">
      {% for stat in profile.splash.stats %}
      <div class="title-stat">
        <div class="title-stat-text">{{ stat.title|safe }}</div>
        <div class="title-stat-value">{{ stat.value|safe }}</div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="profile-nav">
    <ul class="pri-menu">
    {% for section in sections %}
      <a href="#{{ section.anchor }}" data-ga="subnav {{ section.anchor }}" data-ga-cat="navigation" data-ga-label="User click"><li data-anchor="{{ section.anchor }}" class="pri-link"><img src="/static/img/icons/{{ section.anchor }}.svg" /><span class="profile-nav-text">{{ section.title|safe }}</span></li></a>
    {% endfor %}
    </ul>
    <a href="#top" id="back-to-top">
      <span>Back to top &#9650;</span>
      <!-- <i class="fa fa-long-arrow-up"></i> -->
    </a>
  </div>
</div>

<div id="section-sidenav">


{% for section in sections %}
  <div class="section-sidenav-group">
  {% set categories = {"count": 0} %}
  {% for topic in section.topics %}
    {% if topic.category %}
    {% if categories.update({"count": categories.count + 1}) %}{% endif %}
    {% set anchor = topic.category|safe|lower|replace(" ", "_") %}
    <a class="section-sidenav-button" href="#{{ anchor }}" data-anchor="{{ anchor }}" data-tooltip="{{ topic.category|safe }}" data-tooltip-arrow="false" data-tooltip-anchor="center right" data-tooltip-id="data-tooltip-sidenav" data-ga="side nav circles" data-ga-cat="navigation" data-ga-label="User click"></a>
    {% endif %}
  {% endfor %}
  {% if categories.count == 0 %}
  <a class="section-sidenav-button" href="#{{ section.anchor }}" data-anchor="{{ section.anchor }}" data-tooltip="{{ section.title|safe }}" data-tooltip-arrow="false" data-tooltip-anchor="center right" data-tooltip-id="data-tooltip-sidenav" data-ga="side nav circles" data-ga-cat="navigation" data-ga-label="User click"></a>
  {% endif %}
  </div>
{% endfor %}
</div>

<!-- Put ALL HTML STUFF HERE!!!!-->


    <div class="col-sm-1 col-md-1"></div>
    <div class="col-sm-2 col-md-2 text-center">
        <div id="filtering-pane" >
        <div id="filter-hdg"> Filters </div>
        <div class="content" id="filter-content">
        State <span class="caret"></span>
        <div class="row spacer">

        </div>
        <h3>Select a Topic</h3>
     <span>
     <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="yrbs_topic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-table-id="">
    Topics
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="dropdown-header">Youth Risky Behaviors - National Level 2015</li>
        <li><a href="#" data-table-id="yrbs2015" value="texted_or_emailed_while_driving">Texted or emailed while driving in the last 30 days</a></li>
        <li><a href="#" data-table-id="yrbs2015" value="currently_smoked_cigarettes">Currently smokes cigarettes</a></li>
        <li><a href="#" data-table-id="yrbs2015" value="currently_used_electronic_vapor_products">Ever used an electronic vapor product</a></li>
        <li><a href="#" data-table-id="yrbs2015" value="were_electronically_bullied">Been electronically bullied in the last 12 months</a></li>
        <li><a href="#" data-table-id="yrbs2015" value="had_sex_with_four_or_more">Had sexual intercourse with four (4) or more people during lifetime</a></li>
        <li><a href="#" value="had_8_or_more_hours_of_sleep">Regularly gets 8 or more hours of sleep</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">2014 Mortality</li>
      <li><a href="#" data-table-id="vs2014mort" value="resident_status">Resident Status</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="place_of_death_and_decedents_status">Place Of Death And Decedents Status</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="injury_at_work">Injury At Work</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="manner_of_death">Manner Of Death</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="method_of_disposition">Method Of Disposition</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="activity_code">Activity Code</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="place_of_injury">Place Of Injury</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="cause">Cause</a></li>
      <li role="separator" class="divider"></li>
    <li class="dropdown-header">Youth Risky Behaviors - State Level 2000 - 2013</li>
      <li><a href="#" data-table-id="yrbs2013state" value="sexual_contact">Sexual Contact</a></li>
      <li><a href="#" data-table-id="yrbs2013state" value="texted_or_emailed_while_driving">Texted Or Emailed While Driving</a></li>
      <li><a href="#" data-table-id="yrbs2013state" value="electronically_bullied_in_past_year">Electronically Bullied In Past Year</a></li>
      <li><a href="#" data-table-id="yrbs2013state" value="smoked_in_past_30_days">Smoked In Past 30 Days</a></li>
      <li><a href="#" data-table-id="yrbs2013state" value="had_sex_with_4_or_more_people">Had Sex With 4 Or More People during lifetime</a></li>
      <li><a href="#" data-table-id="yrbs2013state" value="had_8_or_more_hours_of_sleep">Regularly Gets 8 Or More Hours Of Sleep</a></li>


  </ul>
</div>
 <div class="row spacer">

 </div>
<h3>Filter by:</h3>
    <select id="selecttest" class="form-control" placeholder="Add a filter">
      <option selected disabled>Select a filter</option>
      <option class="hidden" data-table-id="yrbs2015" value="sex">Gender</option>
      <option class="hidden" data-table-id="yrbs2015" value="age">Age</option>
      <option class="hidden" data-table-id="yrbs2015" value="race_ethnicity">Race / Ethnicity</option>
      <option class="hidden" data-table-id="yrbs2015" value="grade">Grade</option>
      <option class="hidden" data-table-id="vs2014mort" value="education_2003_revision">Education</option>
      <option class="hidden" data-table-id="vs2014mort" value="month_of_death">Month of Death</option>
      <option class="hidden" data-table-id="vs2014mort" value="sex">Gender</option>
      <option class="hidden" data-table-id="vs2014mort" value="age">Age</option>
      <option class="hidden" data-table-id="vs2014mort" value="day_of_week_of_death">Day Of Week Of Death</option>
      <option class="hidden" data-table-id="vs2014mort" value="autopsy">Autopsy</option>
      <option class="hidden" data-table-id="vs2014mort" value="race_ethnicity">Race / Ethnicity</option>
      <option class="hidden" data-table-id="vs2014mort" value="marital_status">Marital Status</option>
      <option class="hidden" data-table-id="yrbs2013state" value="state">State</option>
      <option class="hidden" data-table-id="yrbs2013state" value="year">Year</option>
      <option class="hidden" data-table-id="yrbs2013state" value="age">Age</option>
      <option class="hidden" data-table-id="yrbs2013state" value="sex">Gender</option>
      <option class="hidden" data-table-id="yrbs2013state" value="grade">Grade</option>
      <option class="hidden" data-table-id="yrbs2013state" value="race_breakdown_seven">Race Breakdown Seven</option>
      <option class="hidden" data-table-id="yrbs2013state" value="sexual_identity">Sexual Identity</option>
      <option class="hidden" data-table-id="yrbs2013state" value="obesity_indicator">Obesity Indicator</option>
      <option class="hidden" data-table-id="yrbs2013state" value="overweight_indicator">Overweight Indicator</option>
    </select>
    <div class="hidden issex">Gender <a href="#" class="remove" rel="sex" style="color: grey">remove</a></div>
    <div class="hidden isage">Age <a href="#" class="remove" rel="age" style="color: grey">remove</a></div>
    <div class="hidden israce_ethnicity">Race / Ethnicity <a href="#" class="remove" rel="race_ethnicity" style="color: grey">remove</a></div>
    <div class="hidden isgrade">Grade <a href="#" class="remove" rel="grade" style="color: grey">remove</a></div>
    <div class="hidden iseducation_2003_revision">Education <a href="#" class="remove" rel="education_2003_revision" style="color: grey">remove</a></div>
    <div class="hidden ismonth_of_death">Month of Death <a href="#" class="remove" rel="month_of_death" style="color: grey">remove</a></div>
    <div class="hidden isday_of_week_of_death">Day of Week of Death <a href="#" class="remove" rel="day_of_week_of_death" style="color: grey">remove</a></div>
    <div class="hidden isautopsy">Autopsy <a href="#" class="remove" rel="autopsy" style="color: grey">remove</a></div>
    <div class="hidden ismarital_status">Marital Status <a href="#" class="remove" rel="marital_status" style="color: grey">remove</a></div>
    <div class="hidden isstate">State <a href="#" class="remove" rel="state" style="color: grey">remove</a></div>
    <div class="hidden isyear">Year <a href="#" class="remove" rel="year" style="color: grey">remove</a></div>
    <div class="hidden israce_breakdown_seven">Race / Ethnicity <a href="#" class="remove" rel="race_breakdown_seven" style="color: grey">remove</a></div>
    <div class="hidden issexual_identity">Sexual Identity <a href="#" class="remove" rel="sexual_identity" style="color: grey">remove</a></div>
    <div class="hidden isobesity_indicator">Obsese <a href="#" class="remove" rel="obesity_indicator" style="color: grey">remove</a></div>
    <div class="hidden isoverweight_indicator">Overweight <a href="#" class="remove" rel="overweight_indicator" style="color: grey">remove</a></div>

     <br>
{#begin selectize filters#}
 <div id="topicBox" class="mdl-card__supporting-text" style="width:100%">
            <select id="topic"></select>
        </div>
        <br>
     <div id="demoBox" class="mdl-card__supporting-text" style="width:100%">
            <select id="gen"></select>
        </div>
        <br>
         <div class="demo-card-wide mdl-shadow--2dp" style="width:100%">
        <button class="btn btn-default btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " onclick="$('#raceBox').slideToggle()">Race / Ethnicity</button>
    <!--<div class="col-xs-12" id="poiBox">-->
        <div id="raceBox" class="mdl-card__supporting-text" style="width:100%">
            <select id="raceethnicity"></select>
        </div>
        <!--<select id=""></select>-->
    </div>
    <br>
    <div class="demo-card-wide mdl-shadow--2dp" style="width:100%">
        <button class="btn btn-default btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " onclick="$('#poiBox').slideToggle()">Month of Death</button>
    <!--<div class="col-xs-12" id="poiBox">-->
        <div id="poiBox" class="mdl-card__supporting-text" style="width:100%">
            <select id="monthofdeath"></select>
        </div>
        <!--<select id=""></select>-->
    </div>
    <br>
     <div class="demo-card-wide mdl-shadow--2dp" style="width:100%">
        <button class="btn btn-default btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " onclick="$('#dayBox').slideToggle()">Day of Death</button>
    <!--<div class="col-xs-12" id="poiBox">-->
        <div id="dayBox" class="mdl-card__supporting-text" style="width:100%">
            <select id="dayofdeath"></select>
        </div>
        <!--<select id=""></select>-->
    </div>
    <br>
     <div class="demo-card-wide mdl-shadow--2dp" style="width:100%">
        <button class="btn btn-default btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " onclick="$('#stateBox').slideToggle()">State</button>
    <!--<div class="col-xs-12" id="poiBox">-->
        <div id="stateBox" class="mdl-card__supporting-text" style="width:100%">
            <select id="stateofdeath"></select>
        </div>
        <!--<select id=""></select>-->
    </div>

    </span>

    <button type="button" id="yrbsExecuteQuery" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
      Execute Query
    </button>
    </span>

    </div>
    </div>
    </div>


    <div class="col-sm-9 col-md-9">
        <div class="content">
        <div class="splash-titles">
{#        <h1>Health Data Analysis</h1>#}

{#      <div class="f"></div>#}
{##}
{#      <div class="splash-titles">#}
{#      <h1>Health Data Analysis</h1>#}
{#      <div id="test_viz2"></div>#}


      <div id="mortality-viz">
          <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 dc-data-count dc-chart" id="data-count">
                  <h2>Mortality
                    <small>
                      <span class="filter-count"></span> selected out of <span class="total-count"></span> records |
                       <a id="all" href="#">Reset All</a>
                      </span>
                    </small>
                  </h2>
                </div>
              </div>
              <div class="row" id="control-row">
                <div class="col-xs-5 col-md-5 pie-chart">
                  <h4>Gender <small><a id="gender">reset</a></small></h4>
                  <div class="dc-chart" id="chart-ring-gender"></div>
                </div>
                <div class="col-xs-2 col-md-2"></div>
                <div class="col-xs-5 col-md-5 pie-chart">
                  <h4>Race <small><a id="race">reset</a></small></h4>
                  <div class="dc-chart" id="chart-ring-race"></div>
                </div>



              </div>


              <div class="row" id="mortality-viz-row-2">
                  <div class="col-xs-2 col-md-2"></div>
                  <div class="col-xs-8 col-md-8">
                    <!--"Age Recode 27"-->
                  <h4>Age <small><a id="age" href="#">reset</a></small></h4>
                  <div class="dc-chart" id="chart-age"></div>
                  </div>

{#              <div class="row">#}
{#                <div class="col-xs-1 col-md-1"></div>#}
{#                <div class="col-xs-5 col-md-5 pie-chart">#}
{#                    <!--"Manner of Death"-->#}
{#                  <h4>Manner of Death <small><a id="manner" href="#">reset</a></small></h4>#}
{#                  <div class="dc-chart" id="chart-ring-manner"></div>#}
{#                </div>#}
{#                <div class="col-xs-1 col-md-1"></div>#}
{#                <div class="col-xs-5 col-md-5 pie-chart">#}
{#                    <!--"39 Cause Recode"-->#}
{#                  <h4>Cause <small><a id="cause" href="#">reset</a></small></h4>#}
{#                  <div class="dc-chart" id="chart-ring-cause"></div>#}
{#                </div>#}
{#              </div>#}

            </div>
      </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      </div>
      </div>
        </div>


    </div>


<section class="profile-section">
  {% include "templates/includes/mortality.html" %}
</section>


{% for section in sections %}

<header class="{{ section.anchor }} prof-body">
  <h2 class="section-title"><a href="#{{ section.anchor }}" name="{{ section.anchor }}">{{ section.title|safe }}</a></h2>
  {% for desc in section.description %}
  <p>{{ desc|safe }}</p>
  {% endfor %}
</header>

{# This is where the sections are called #}



<section class="{{ section.anchor }} profile-section">
  {% include "templates/includes/topic.html" %}
</section>



{% endfor %}



<div class="profile-end">

  <h2>Keep Exploring</h2>

  <!-- follow up profile links -->
  <div class="follow-up">

    {% if parents|length %}
    {% for p in parents %}
    <div style="background: url('/profile/{{ profile.attr_type }}/{{ p.id }}/img/');">
      <a href="{{ url_for('profile.profile', attr_type=profile.attr_type, attr_id=p['url_name'] if 'url_name' in p and p['url_name'] else p['id']) }}" class="explore-title">{{ p["name"] }}</a>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <!-- end .follow-up -->
</div>

{% endblock %}

{% block js %}

<script>

  var fontRange = [50, 65];
  if (window.innerWidth <= 480) {
    fontRange = [45, 60];
  }

  var fontScale = d3.scale.linear()
    .domain([60, 20])
    .range(fontRange)
    .clamp(true);

  var title = d3.select(".splash-titles h1");
  title.style("font-size", fontScale(title.text().length) + "px");

  if (!d3plus.client.touch) {
    var scrollTimeout = setTimeout(function(){
      d3.select("#scroll-btn").classed("visible", true);
    }, 5000);
  }

  var maxCarousel = d3.selectAll(".carousel-text").size() - 1, currentPage = 0;
  d3.selectAll(".carousel-btn").on("click", function(d, i){
    if (i && currentPage < maxCarousel) currentPage++;
    else if (i === 0 && currentPage > 0) currentPage--;

    d3.select("#carousel-page").text(currentPage + 1);

    d3.selectAll(".carousel-btn").classed("active", function(dd, ii){
      return !ii && currentPage || ii && currentPage < maxCarousel;
    });
    d3.selectAll(".carousel-text").classed("active", function(dd, ii){
      return ii === currentPage;
    });
  });

  d3.select(".expand-stats-btn").on("click", function(){
    d3.event.preventDefault();
    d3.select(this).classed("close", !d3.select(this).classed("close"));
    d3.select("#nav-bar-scroll").classed("stat-hidden", !d3.select("#nav-bar-scroll").classed("stat-hidden"));
  });

  var splashHeight = d3.select("#splash").node().offsetHeight,
      boundHeight = d3.select(".bound").node().offsetHeight
      titleNavHeight = d3.select("#title-bar").node().offsetHeight,
      statNavHeight = d3.select("#stats-bar").node().offsetHeight,
      profNavHeight = d3.select("#profile-nav").node().offsetHeight,
      footerTop = d3.select(".profile-end").node().offsetTop,
      attr_type = "{{ profile.attr_type }}";

  var sideButtons = d3.selectAll(".section-sidenav-button"), sideNavBottom = 0;
  if (sideButtons.size()) {
    sideNavBottom = sideButtons[0][sideButtons.length - 1].offsetTop + 30;
  }

  var firstScroll = true;
  function navScroll(){

    if (!firstScroll) {
      clearTimeout(scrollTimeout);
      d3.select("#scroll-btn").classed("visible", false);
    }
    firstScroll = false;

    var y = d3plus.client.scroll.y(),
        colorTitleNav = y > titleNavHeight,
        showTitleNav = y > splashHeight/2.75,
        showStatNav = y > splashHeight,
        showProfNav = y > (boundHeight - titleNavHeight - statNavHeight) &&
                      (y + sideNavBottom) < footerTop;

    var parallaxScroll = d3.scale.linear()
      .domain([0, window.innerHeight])
      .rangeRound([0, window.innerHeight/3.6])
      .clamp(true);

    d3.select("#splash-image").style("top", parallaxScroll(y) + "px")

    d3.select("#top-nav").classed("filled", colorTitleNav);
    d3.select("nav").classed("filled", colorTitleNav);
    d3.select("#title-bar").classed("visible", showTitleNav);
    d3.select("#home-btn").classed("hidden", showTitleNav);

    d3.select("#stats-bar").classed("visible", showProfNav);
    d3.select(".expand-stats-btn").classed("show", showProfNav);
    d3.select("#profile-nav").classed("visible", showProfNav);
    d3.select("#section-sidenav").classed("visible", showProfNav);

    var active_section;
    var top_buffer = titleNavHeight + profNavHeight + statNavHeight + 15;
    d3.selectAll("header a[name]")
      .each(function(){
        var top = this.parentNode.parentNode.offsetTop;
        if (top - top_buffer < y) {
          active_section = this.name;
        }
      })
    d3.selectAll("#profile-nav li")
      .classed("active", function(){
        return this.getAttribute("data-anchor") === active_section;
      });

    var active_sub;
    var subs = d3.selectAll("section." + active_section + " .category a[name]");
    if (subs.size()) {
      subs.each(function(){
          var top = this.parentNode.offsetTop;
          if (top - top_buffer < y) {
            active_sub = this.name;
          }
        });
    }
    else {
      active_sub = active_section;
    }
    d3.selectAll(".section-sidenav-button")
      .classed("active", function(){
        return this.getAttribute("data-anchor") === active_sub;
      })

  }

  navScroll();
  scrollFunctions.push(navScroll);

  d3.select("#show-bg").on("click", function(){
    var show = d3.select("#splash-image").classed("color");
    d3.select("#splash-image").classed("color", !show);
    d3.select("#splash .content").classed("hide", !show);
  });

  // toggle extra items in long list
  d3.selectAll(".show-more").on("click", function(){
    d3.event.preventDefault();
    d3.select(this).style("display", "none");
    d3.select(this.parentNode.nextSibling).style("display", "inline");
  })

</script>

{% endblock %}
