{% extends "templates/nav.html" %}


{% block body %}
<a name="top"></a>
<div class="bound">
  <div id="show-bg">
    <div><i class="fa fa-camera"></i></div>
  </div>

  <article id="splash">
    <div id="splash-image" style="background-image: url('/static/img/splash/geo/04000US46.jpg');"></div>

    <div class="col-sm-4 col-md-4">
    <div class="content">
    <div class="f"></div>

    <div class="splash-titles">

        <div class="row spacer">

        </div>
        <h3>Select a Topic</h3>
     <span> <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="yrbs_topic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Topics
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="dropdown-header">Youth Risky Behaviors</li>
    <li><a href="#" value="texted_or_emailed_while_driving">Texting or Emailing While Driving</a></li>
    <li><a href="#" value="currently_smoked_cigarettes">Cigarette Usage</a></li>
    <li><a href="#" value="currently_used_electronic_vapor_products">Electronic Vapor Product Usage</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">Mortality</li>
    <li><a href="#" value="manner">By Manner of Death</a></li>
    <li><a href="#" value="cause">By Cause</a></li>

    <li><a href="#">Separated link</a></li>
  </ul>
</div>
 <div class="row spacer">

 </div>
<h3>Filter by:</h3>
    <select id="selecttest" class="form-control" placeholder="Add a filter">
      <option selected disabled>Select a filter</option>
      <option value="sex">Gender</option>
      <option value="age">Age</option>
      <option value="race_ethnicity">Race / Ethnicity</option>
    </select>
     <div class="hidden issex">Gender <a href="#" class="remove" rel="Gender">remove</a></div>
    <div class="hidden isage">Age <a href="#" class="remove" rel="Age">remove</a></div>
    <div class="hidden israce_ethnicity">Race / Ethnicity <a href="#" class="remove" rel="Race / Ethnicity">remove</a></div>
     <br>
    <button type="button" id="yrbsExecuteQuery" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
      Execute Query
    </button>
    </span>

    </div>
    </div>
    </div>

    <div class="col-sm-8 col-md-8">
    <div class="content">
      <div class="f"></div>

      <div class="splash-titles">
      <h1>Youth Risk Behavioral Survey</h1>


      <div id="test_viz2"></div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      </div>
      </div>
        </div>

      </article>
{% endblock %}

{% block js %}

<script>

var idorder = [];

$("#selecttest").change(function(){
    var value = $("#selecttest option:selected").val();
    var theDiv = $(".is" + value);
    idorder.push(value);
{#    alert(idorder[0]);#}
    theDiv.slideDown().removeClass("hidden");
    $("#selecttest option:selected").attr('disabled','disabled');
});

$("div a.remove").click(function () {
    var value = $(this).attr('rel');
    var theDiv = $(".is" + value);

    $("#selecttest option[value=" + value + "]").removeAttr('disabled');

    $(this).parent().slideUp(function() { $(this).addClass("hidden"); });
});

//this function allows the dropdown text to change after the selection, which will drive the API url development
$(function(){

    $(".dropdown-menu li a").click(function(){
      //$(".btn:first-child").text($(this).text());
      //$(".btn:first-child").val($(this).text());
      $(this).parent().parent().siblings(".btn").text($(this).text());
      $(this).parent().parent().siblings(".btn").attr("value",$(this).attr("value"));
   });

});

//the function below will run when the query button is pushed
$('#yrbsExecuteQuery').on('click', function () {
    $( "#test_viz2" ).empty();
    var $btn = $(this).button('loading')
    // business logic...
    var api = "http://ec2-52-90-94-195.compute-1.amazonaws.com/query/owhyrbsquery?";
    var column1=$("#yrbs_topic").attr("value");

    var x = idorder.length;
    if (x > 0) {
        for (i = 0; i < x; i++) {
            api = api.concat("&column=",idorder[i],"&group=",idorder[i])
        }
        api = api.concat('&column=',$("#yrbs_topic").attr("value"))
    }


    var topic;
    if ($("#yrbs_topic").attr("value")){
      api = api.concat('&column=',$("#yrbs_topic").attr("value"))
      topic = $("#yrbs_topic").attr("value")
    }
    console.log(api);
    //now the the query is formed, we need to make an ajax call to get the data:
    d3.json(api, function(data){
        //send the data to the makeviz function to render the viz
    datasetr=data;
    dynamicviz(datasetr.data, idorder, topic);
    });


    $btn.button('reset');
  });

{#  Smoking Data #}

function dynamicviz(data, idorder, topic) {
    //sort the data
    //console.log(data)
    data = data.filter(function (n) {
        return n.count != 0;
    });
    data.sort(function (a, b) {
        if (a.count > b.count) {
            return 1;
        }
        if (a.count < b.count) {
            return -1;
        }
    });

    //render the viz
    var visualization = d3plus.viz()
            .container("#test_viz2") //note I purposefully broke this call
            .data(data)
            .type("bar")
            .id(idorder)
            .x(topic)
            .y("count")
            .draw();
};


  var fontRange = [50, 65];
  if (window.innerWidth <= 480) {
    fontRange = [45, 60];
  }

  var fontScale = d3.scale.linear()
    .domain([60, 20])
    .range(fontRange)
    .clamp(true);

  var title = d3.select(".splash-titles h1");
  title.style("font-size", fontScale(title.text().length) + "px");

  if (!d3plus.client.touch) {
    var scrollTimeout = setTimeout(function(){
      d3.select("#scroll-btn").classed("visible", true);
    }, 5000);
  }

  var maxCarousel = d3.selectAll(".carousel-text").size() - 1, currentPage = 0;
  d3.selectAll(".carousel-btn").on("click", function(d, i){
    if (i && currentPage < maxCarousel) currentPage++;
    else if (i === 0 && currentPage > 0) currentPage--;

    d3.select("#carousel-page").text(currentPage + 1);

    d3.selectAll(".carousel-btn").classed("active", function(dd, ii){
      return !ii && currentPage || ii && currentPage < maxCarousel;
    });
    d3.selectAll(".carousel-text").classed("active", function(dd, ii){
      return ii === currentPage;
    });
  });

  d3.select(".expand-stats-btn").on("click", function(){
    d3.event.preventDefault();
    d3.select(this).classed("close", !d3.select(this).classed("close"));
    d3.select("#nav-bar-scroll").classed("stat-hidden", !d3.select("#nav-bar-scroll").classed("stat-hidden"));
  });

  var splashHeight = d3.select("#splash").node().offsetHeight,
      boundHeight = d3.select(".bound").node().offsetHeight
      titleNavHeight = d3.select("#title-bar").node().offsetHeight,
      statNavHeight = d3.select("#stats-bar").node().offsetHeight,
      profNavHeight = d3.select("#profile-nav").node().offsetHeight,
      footerTop = d3.select(".profile-end").node().offsetTop;

  var sideButtons = d3.selectAll(".section-sidenav-button"), sideNavBottom = 0;
  if (sideButtons.size()) {
    sideNavBottom = sideButtons[0][sideButtons.length - 1].offsetTop + 30;
  }


  var firstScroll = true;

  function navScroll(){

    if (!firstScroll) {
      clearTimeout(scrollTimeout);
      d3.select("#scroll-btn").classed("visible", false);
    }
    firstScroll = false;

    var y = d3plus.client.scroll.y(),
        colorTitleNav = y > titleNavHeight,
        showTitleNav = y > splashHeight/2.75,
        showStatNav = y > splashHeight,
        showProfNav = y > (boundHeight - titleNavHeight - statNavHeight) &&
                      (y + sideNavBottom) < footerTop;

    var parallaxScroll = d3.scale.linear()
      .domain([0, window.innerHeight])
      .rangeRound([0, window.innerHeight/3.6])
      .clamp(true);

    d3.select("#splash-image").style("top", parallaxScroll(y) + "px")

    d3.select("#top-nav").classed("filled", colorTitleNav);
    d3.select("nav").classed("filled", colorTitleNav);
    d3.select("#title-bar").classed("visible", showTitleNav);
    d3.select("#home-btn").classed("hidden", showTitleNav);

    d3.select("#stats-bar").classed("visible", showProfNav);
    d3.select(".expand-stats-btn").classed("show", showProfNav);
    d3.select("#profile-nav").classed("visible", showProfNav);
    d3.select("#section-sidenav").classed("visible", showProfNav);

    var active_section;
    var top_buffer = titleNavHeight + profNavHeight + statNavHeight + 15;
    d3.selectAll("header a[name]")
      .each(function(){
        var top = this.parentNode.parentNode.offsetTop;
        if (top - top_buffer < y) {
          active_section = this.name;
        }
      })
    d3.selectAll("#profile-nav li")
      .classed("active", function(){
        return this.getAttribute("data-anchor") === active_section;
      });

    var active_sub;
    var subs = d3.selectAll("section." + active_section + " .category a[name]");
    if (subs.size()) {
      subs.each(function(){
          var top = this.parentNode.offsetTop;
          if (top - top_buffer < y) {
            active_sub = this.name;
          }
        });
    }
    else {
      active_sub = active_section;
    }
    d3.selectAll(".section-sidenav-button")
      .classed("active", function(){
        return this.getAttribute("data-anchor") === active_sub;
      })

  }

  navScroll();
  scrollFunctions.push(navScroll);

  d3.select("#show-bg").on("click", function(){
    var show = d3.select("#splash-image").classed("color");
    d3.select("#splash-image").classed("color", !show);
    d3.select("#splash .content").classed("hide", !show);
  });

  // toggle extra items in long list
  d3.selectAll(".show-more").on("click", function(){
    d3.event.preventDefault();
    d3.select(this).style("display", "none");
    d3.select(this.parentNode.nextSibling).style("display", "inline");
  })

</script>

{% endblock %}
