<style>

  #mortality-headr{
      background-color: #E9E9E9;
      flex-wrap: wrap;
      padding: 0 25px
  }

 .selectize-input > input

{ padding: 0 !important;}

    #snip-container{
        width : 100vw;

    }
    .item {
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Palanquin", sans-serif;
    font-weight: 400;
    text-transform: uppercase;

    }
</style>

    <div class="col-sm-12 col-md-12 text-left">
    <header class="mortality prof-body" id="mortality-headr" style="padding-top: 10px">

      <h2 class="section-title"><a href="#mortality" name="mortality">Mortality</a></h2>
      <p>The Center for Disease Control collects mortality data over time.


      <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-default btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " onclick="$('#topicBox').slideToggle()">Topic</button>
        </div>
        <div class="col-sm-2">
            <div class="demo-card-wide mdl-shadow--2dp" style="width:100%">
                <button class="btn btn-default btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " onclick="$('#raceBox').slideToggle()">Race</button>
            </div>
        </div>
        <div class="col-sm-2">
         <div class="demo-card-wide mdl-shadow--2dp" style="width:100%">
            <button class="btn btn-default btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " onclick="$('#stateBox').slideToggle()">State</button>
         </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-default btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " onclick="$('#genderBox').slideToggle()">Gender</button>
        </div>
        <div class="col-sm-2">
            <button type="button" id="yrbsExecuteQuery" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
              Execute Query
            </button>

        </div>
        <div class="row spacer">

        </div>
        <div class="row spacer">

        </div>
    </div>
    <br>
    <br>
    </header>
    </div>

    <article class="topic">
      <h2 class="embed-title"> Mortality by Gender</h2>

      <div class="col-sm-4">
          <div class="topic-stats">
          <div class="col-sm-12">
              <div class="col-sm-6">
              <div class="stat">
                <div class="stat-text">2014 Male Deaths</div>
                <div class="stat-value">6,000,000</div>
              </div>
              </div>
              <div class="col-sm-6">
              <div class="stat">
                <div class="stat-text">2014 Female Deaths</div>
                <div class="stat-value">6,000,000</div>
              </div>
              </div>
              <div class="col-sm-12">
                  <div class="stat-value stat-small">This chart is displaying a comparison of the overall smoking (mortality) rates between males and females among the population of the state of California<span class="stat-text"></span> AAAA</div>
              </div>
            </div>

          </div>
      </div>
          <div id="test" class="col-sm-8">
              <iframe src="http://127.0.0.1:5000/static/mortalityandRiskCharts/index.html" background="black" width="100%" height="500" id="frameDemo"></iframe>
          </div>
    </article>

<script>

var imhere = window.location.href;
var res = imhere.split("/");
console.log(res);
var urlrsz = res.length;
var currentState = res[urlrsz-2];
console.log(currentState);

var gen = [
    {id: "'Male'", gen: 'Male'},
    {id: "'Female'", gen: 'Female'},
];

var genSelect = $("#gen").selectize({
    placeholder: 'Gender',
    maxItems: null,
    valueField: 'id',
    labelField: 'gen',
    searchField: 'gen',
    options: gen
});

var genControl = genSelect[0].selectize;

var topicarray = [
    {id:"cause", topic:'Cause'},
{id:"resident_status", topic:'Resident Status'},
{id:"place_of_death_and_decedents_status", topic:'Place Of Death And Decedents Status'},
{id:"injury_at_work", topic:'Injury At Work'},
{id:"manner_of_death", topic:'Manner Of Death'},
{id:"method_of_disposition", topic:'Method Of Disposition'},
{id:"activity_code", topic:'Activity Code'},
{id:"place_of_injury", topic:'Place Of Injury'}
];

var topicSelect = $("#topicBox").selectize({
    placeholder: 'Topic',
    maxItems: 1,
    valueField: 'id',
    labelField: 'topic',
    searchField: 'topic',
    options: topicarray
});
var topicControl = topicSelect[0].selectize;

var race = [
{id: "'Black'", race: 'Black'},
{id: "'Samoan'", race: 'Samoan'},
{id: "'Hawaiian (includes Part-Hawaiian)'", race: 'Hawaiian (includes Part-Hawaiian)'},
{id: "'Asian Indian'", race: 'Asian Indian'},
{id: "'White'", race: 'White'},
{id: "'Guamanian'", race: 'Guamanian'},
{id: "'American Indian (includes Aleuts and Eskimos)'", race: 'American Indian (includes Aleuts and Eskimos)'},
{id: "'Other Asian or Pacific Islander in areas reporting codes 18-58'", race: 'Other Asian or Pacific Islander in areas reporting codes 18-58'},
{id: "'Combined other Asian or Pacific Islander, includes codes 18-68 for areas that do not report them separately'", race: 'Combined other Asian or Pacific Islander, includes codes 18-68 for areas that do not report them separately'},
{id: "'Korean'", race: 'Korean'},
{id: "'Filipino'", race: 'Filipino'},
{id: "'Chinese'", race: 'Chinese'},
{id: "'Japanese'", race: 'Japanese'},
{id: "'Vietnamese'", race: 'Vietnamese'}
];

var raceSelect = $("#raceethnicity").selectize({
    placeholder: 'Race / Ethnicity',
    maxItems: null,
    valueField: 'id',
    labelField: 'race',
    searchField: 'race',
    options: race
});
var raceControl = raceSelect[0].selectize;

var states = [
{id:"'Alabama'", state:'Alabama'},
{id:"'Alaska'", state:'Alaska'},
{id:"'Arizona'", state:'Arizona'},
{id:"'Arkansas'", state:'Arkansas'},
{id:"'California'", state:'California'},
{id:"'Colorado'", state:'Colorado'},
{id:"'Connecticut'", state:'Connecticut'},
{id:"'Delaware'", state:'Delaware'},
{id:"'District of Columbia'", state:'District of Columbia'},
{id:"'Florida'", state:'Florida'},
{id:"'Georgia'", state:'Georgia'},
{id:"'Hawaii'", state:'Hawaii'},
{id:"'Idaho'", state:'Idaho'},
{id:"'Illinois'", state:'Illinois'},
{id:"'Indiana'", state:'Indiana'},
{id:"'Iowa'", state:'Iowa'},
{id:"'Kansas'", state:'Kansas'},
{id:"'Kentucky'", state:'Kentucky'},
{id:"'Louisiana'", state:'Louisiana'},
{id:"'Maine'", state:'Maine'},
{id:"'Maryland'", state:'Maryland'},
{id:"'Massachusetts'", state:'Massachusetts'},
{id:"'Michigan'", state:'Michigan'},
{id:"'Minnesota'", state:'Minnesota'},
{id:"'Mississippi'", state:'Mississippi'},
{id:"'Missouri'", state:'Missouri'},
{id:"'Montana'", state:'Montana'},
{id:"'Nebraska'", state:'Nebraska'},
{id:"'Nevada'", state:'Nevada'},
{id:"'New Hampshire'", state:'New Hampshire'},
{id:"'New Jersey'", state:'New Jersey'},
{id:"'New Mexico'", state:'New Mexico'},
{id:"'New York'", state:'New York'},
{id:"'North Carolina'", state:'North Carolina'},
{id:"'North Dakota'", state:'North Dakota'},
{id:"'Ohio'", state:'Ohio'},
{id:"'Oklahoma'", state:'Oklahoma'},
{id:"'Oregon'", state:'Oregon'},
{id:"'Pennsylvania'", state:'Pennsylvania'},
{id:"'Rhode Island'", state:'Rhode Island'},
{id:"'South Carolina'", state:'South Carolina'},
{id:"'South Dakota'", state:'South Dakota'},
{id:"'Tennessee'", state:'Tennessee'},
{id:"'Texas'", state:'Texas'},
{id:"'Utah'", state:'Utah'},
{id:"'Vermont'", state:'Vermont'},
{id:"'Virginia'", state:'Virginia'},
{id:"'Washington'", state:'Washington'},
{id:"'West Virginia'", state:'West Virginia'},
{id:"'Wisconsin'", state:'Wisconsin'},
{id:"'Wyoming'", state:'Wyoming'}

];

var stateSelect = $("#stateofdeath").selectize({
    placeholder: 'State of Death',
    maxItems: null,
    valueField: 'state',
    labelField: 'state',
    searchField: 'state',
    options: states
});
var stateControl = stateSelect[0].selectize;

</script>
