<style>
    #mortality-viz {
    /*width:100%;*/
    /*height: 65px;*/
    /*font-family: PathwayGothicOne-Book;*/
    /*font-size: 90px;*/
    font-family: Palanquin;
    font-size: 35px;
    letter-spacing: 2px;
    color: #000000;
{#    position: relative;#}
{#    top: -72vh;#}
{#    left: 31vw;#}
    }

  #mortality-viz-row-2 {
    /*width:100%;*/
    /*height: 65px;*/
    /*font-family: PathwayGothicOne-Book;*/
    /*font-size: 90px;*/
    font-family: Palanquin;
    font-size: 35px;
    letter-spacing: 2px;
    color: #000000;
    position: relative;
    top: 9vh;
    left: 2vw;
    }

  #mortality-headr{
      background-color: #E9E9E9;
  }

{#  .mortality-chart{#}
{#      float: right;#}
{#  }#}

{#  .topic-stats, .viz {#}
{#    display: inline-block;#}
{#    vertical-align: middle;#}
{#}#}

{#  .viz {#}
{#      margin-left: 300px;#}
{#  }#}


</style>


{#Body starts here #}
{#    <div class="container" id="mortality-container">#}


    <div class="col-sm-12 col-md-12 text-left">
    <header class="mortality prof-body" id="mortality-headr">

      <h2 class="section-title"><a href="#mortality" name="mortality">Mortality</a></h2>
      <p>The Center for Disease Control collects mortality data over time.


      <div class="col-sm-12 text-center">
        <div class="col-sm-4">
            <div id="topicBox" class="mdl-card__supporting-text" style="width:100%">
                <select id="topic"></select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="demo-card-wide mdl-shadow--2dp" style="width:100%">
                <button class="btn btn-default btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " onclick="$('#raceBox').slideToggle()">Race / Ethnicity</button>
                <div id="raceBox" class="mdl-card__supporting-text" style="width:100%">
                    <select id="raceethnicity"></select>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
         <div class="demo-card-wide mdl-shadow--2dp" style="width:100%">
            <button class="btn btn-default btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " onclick="$('#stateBox').slideToggle()">State</button>
            <div id="stateBox" class="mdl-card__supporting-text" style="width:100%">
                <select id="stateofdeath"></select>
            </div>
         </div>
        </div>
        <div class="col-sm-2">
            <div id="demoBox" class="mdl-card__supporting-text" style="width:100%">
                <select id="gen"></select>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" id="yrbsExecuteQuery" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
              Execute Query
            </button>

        </div>
        <div class="row spacer">

        </div>
        <div class="row spacer">

        </div>
    </div>
    <br>
    <br>


    </header>
    </div>





    <article class="topic">
      <h2 class="embed-title"> Mortality by Gender</h2>

      <div class="col-sm-12">
      <div class="topic-stats">
{#        {% for stat in topic.stat %}#}
          <div class="col-sm-3">
          <div class="col-sm-6">
          <div class="stat">
            <div class="stat-text">2014 Deaths</div>
            <div class="stat-value">6,000,000</div>
{#            <p>People be dying, bro!</p>#}

          </div>
          </div>
          <div class="col-sm-6">
          <div class="stat">
            <div class="stat-text">2014 Female Deaths</div>
            <div class="stat-value">6,000,000</div>
            <div class="stat-value stat-small"><span class="stat-text">BBB</span> AAAA</div>
          </div>
          </div>
      </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-8">
      <div class="viz">
        <div id="chart-gender">
    {#          <h4>Gender <small><a id="gender">reset</a></small></h4>#}
    {#          <div class="dc-chart" ></div>#}
        </div>
        </div>
      </div>
      </div>
    {#        {% endfor %}#}

    </article>


    <article class="topic">
      <h2 class="embed-title"> Mortality by Race</h2>
      <div class="col-sm-12">
      <div class="topic-stats">
          <div class="col-sm-3">
{#        {% for stat in topic.stat %}#}
          <div class="col-sm-6">
          <div class="stat">
            <div class="stat-text">2014 Deaths</div>
            <div class="stat-value">6,000,000</div>
            <p></p>

          </div>
          </div>
          <div class="col-sm-6">
          <div class="stat">
            <div class="stat-text">2014 Female Deaths</div>
            <div class="stat-value">6,000,000</div>
            <div class="stat-value stat-small"><span class="stat-text">BBB</span> AAAA</div>
          </div>
          </div>
      </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-8">
      <div class="viz">
        <div id="chart-race">
    {#          <h4>Gender <small><a id="gender">reset</a></small></h4>#}
    {#          <div class="dc-chart" ></div>#}
        </div>
        </div>
      </div>
    {#        {% endfor %}#}
      </div>
      </div>


    </article>

    <article class="topic">
      <h2 class="embed-title"> Mortality by Age</h2>
      <div class="col-sm-12">
      <div class="topic-stats">
{#        {% for stat in topic.stat %}#}
          <div class="col-sm-3">
          <div class="stat">
            <div class="stat-text">2014 Deaths</div>
            <div class="stat-value">6,000,000</div>
            <p></p>

          </div>
          </div>

      </div>
      <div class="col-sm-9">
      <div class="viz">
        <div id="chart-age">
    {#          <h4>Gender <small><a id="gender">reset</a></small></h4>#}
    {#          <div class="dc-chart" ></div>#}
        </div>
        </div>
      </div>
    {#        {% endfor %}#}
      </div>


    </article>


    <article class="topic">
      <h2 class="embed-title"> Mortality by Cause</h2>
      <div class="col-sm-12">
      <div class="topic-stats">
{#        {% for stat in topic.stat %}#}
          <div class="col-sm-3">
          <div class="stat">
            <div class="stat-text">2014 Deaths</div>
            <div class="stat-value">6,000,000</div>
            <p></p>

          </div>
          </div>

      </div>
      <div class="col-sm-9">
      <div class="viz">
        <div id="chart-cause">
    {#          <h4>Gender <small><a id="gender">reset</a></small></h4>#}
    {#          <div class="dc-chart" ></div>#}
        </div>
        </div>
      </div>
    {#        {% endfor %}#}
      </div>


    </article>




    <div class="col-sm-12 col-md-12 text-center">
    </div>
    <div class="col-sm-2 col-md-2 text-center">
        <div id="filtering-pane" >
        <div class="row spacer">

        </div>
        <h3>Select a Topic</h3>
     <span>
     <div class="dropdown">

  <button class="btn btn-default dropdown-toggle" type="button" id="yrbs_topic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-table-id="">
    Topics
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="dropdown-header">Youth Risky Behaviors - National Level 2015</li>
        <li><a href="#" data-table-id="yrbs2015" value="texted_or_emailed_while_driving">Texted or emailed while driving in the last 30 days</a></li>
        <li><a href="#" data-table-id="yrbs2015" value="currently_smoked_cigarettes">Currently smokes cigarettes</a></li>
        <li><a href="#" data-table-id="yrbs2015" value="currently_used_electronic_vapor_products">Ever used an electronic vapor product</a></li>
        <li><a href="#" data-table-id="yrbs2015" value="were_electronically_bullied">Been electronically bullied in the last 12 months</a></li>
        <li><a href="#" data-table-id="yrbs2015" value="had_sex_with_four_or_more">Had sexual intercourse with four (4) or more people during lifetime</a></li>
        <li><a href="#" value="had_8_or_more_hours_of_sleep">Regularly gets 8 or more hours of sleep</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">2014 Mortality</li>
      <li><a href="#" data-table-id="vs2014mort" value="resident_status">Resident Status</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="place_of_death_and_decedents_status">Place Of Death And Decedents Status</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="injury_at_work">Injury At Work</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="manner_of_death">Manner Of Death</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="method_of_disposition">Method Of Disposition</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="activity_code">Activity Code</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="place_of_injury">Place Of Injury</a></li>
      <li><a href="#" data-table-id="vs2014mort" value="cause">Cause</a></li>
      <li role="separator" class="divider"></li>
    <li class="dropdown-header">Youth Risky Behaviors - State Level 2000 - 2013</li>
      <li><a href="#" data-table-id="yrbs2013state" value="sexual_contact">Sexual Contact</a></li>
      <li><a href="#" data-table-id="yrbs2013state" value="texted_or_emailed_while_driving">Texted Or Emailed While Driving</a></li>
      <li><a href="#" data-table-id="yrbs2013state" value="electronically_bullied_in_past_year">Electronically Bullied In Past Year</a></li>
      <li><a href="#" data-table-id="yrbs2013state" value="smoked_in_past_30_days">Smoked In Past 30 Days</a></li>
      <li><a href="#" data-table-id="yrbs2013state" value="had_sex_with_4_or_more_people">Had Sex With 4 Or More People during lifetime</a></li>
      <li><a href="#" data-table-id="yrbs2013state" value="had_8_or_more_hours_of_sleep">Regularly Gets 8 Or More Hours Of Sleep</a></li>

  </ul>
</div>
 <div class="row spacer">

 </div>
<h3>Filter by:</h3>
    <select id="selecttest" class="form-control" placeholder="Add a filter">
      <option selected disabled>Select a filter</option>
      <option class="hidden" data-table-id="yrbs2015" value="sex">Gender</option>
      <option class="hidden" data-table-id="yrbs2015" value="age">Age</option>
      <option class="hidden" data-table-id="yrbs2015" value="race_ethnicity">Race / Ethnicity</option>
      <option class="hidden" data-table-id="yrbs2015" value="grade">Grade</option>
      <option class="hidden" data-table-id="vs2014mort" value="education_2003_revision">Education</option>
      <option class="hidden" data-table-id="vs2014mort" value="month_of_death">Month of Death</option>
      <option class="hidden" data-table-id="vs2014mort" value="sex">Gender</option>
      <option class="hidden" data-table-id="vs2014mort" value="age">Age</option>
      <option class="hidden" data-table-id="vs2014mort" value="day_of_week_of_death">Day Of Week Of Death</option>
      <option class="hidden" data-table-id="vs2014mort" value="autopsy">Autopsy</option>
      <option class="hidden" data-table-id="vs2014mort" value="race_ethnicity">Race / Ethnicity</option>
      <option class="hidden" data-table-id="vs2014mort" value="marital_status">Marital Status</option>
      <option class="hidden" data-table-id="yrbs2013state" value="state">State</option>
      <option class="hidden" data-table-id="yrbs2013state" value="year">Year</option>
      <option class="hidden" data-table-id="yrbs2013state" value="age">Age</option>
      <option class="hidden" data-table-id="yrbs2013state" value="sex">Gender</option>
      <option class="hidden" data-table-id="yrbs2013state" value="grade">Grade</option>
      <option class="hidden" data-table-id="yrbs2013state" value="race_breakdown_seven">Race Breakdown Seven</option>
      <option class="hidden" data-table-id="yrbs2013state" value="sexual_identity">Sexual Identity</option>
      <option class="hidden" data-table-id="yrbs2013state" value="obesity_indicator">Obesity Indicator</option>
      <option class="hidden" data-table-id="yrbs2013state" value="overweight_indicator">Overweight Indicator</option>
    </select>
    <div class="hidden issex">Gender <a href="#" class="remove" rel="sex" style="color: grey">remove</a></div>
    <div class="hidden isage">Age <a href="#" class="remove" rel="age" style="color: grey">remove</a></div>
    <div class="hidden israce_ethnicity">Race / Ethnicity <a href="#" class="remove" rel="race_ethnicity" style="color: grey">remove</a></div>
    <div class="hidden isgrade">Grade <a href="#" class="remove" rel="grade" style="color: grey">remove</a></div>
    <div class="hidden iseducation_2003_revision">Education <a href="#" class="remove" rel="education_2003_revision" style="color: grey">remove</a></div>
    <div class="hidden ismonth_of_death">Month of Death <a href="#" class="remove" rel="month_of_death" style="color: grey">remove</a></div>
    <div class="hidden isday_of_week_of_death">Day of Week of Death <a href="#" class="remove" rel="day_of_week_of_death" style="color: grey">remove</a></div>
    <div class="hidden isautopsy">Autopsy <a href="#" class="remove" rel="autopsy" style="color: grey">remove</a></div>
    <div class="hidden ismarital_status">Marital Status <a href="#" class="remove" rel="marital_status" style="color: grey">remove</a></div>
    <div class="hidden isstate">State <a href="#" class="remove" rel="state" style="color: grey">remove</a></div>
    <div class="hidden isyear">Year <a href="#" class="remove" rel="year" style="color: grey">remove</a></div>
    <div class="hidden israce_breakdown_seven">Race / Ethnicity <a href="#" class="remove" rel="race_breakdown_seven" style="color: grey">remove</a></div>
    <div class="hidden issexual_identity">Sexual Identity <a href="#" class="remove" rel="sexual_identity" style="color: grey">remove</a></div>
    <div class="hidden isobesity_indicator">Obsese <a href="#" class="remove" rel="obesity_indicator" style="color: grey">remove</a></div>
    <div class="hidden isoverweight_indicator">Overweight <a href="#" class="remove" rel="overweight_indicator" style="color: grey">remove</a></div>

     <br>
{#begin selectize filters#}



<script>


var imhere = window.location.href;
var res = imhere.split("/");
console.log(res);
var urlrsz = res.length;
var currentState = res[urlrsz-2];
console.log(currentState);

var gen = [
    {id: "'Male'", gen: 'Male'},
    {id: "'Female'", gen: 'Female'},
];

var url = 'http://ec2-52-90-94-195.compute-1.amazonaws.com/query/mortality?column=sex&column=age&group=sex';

d3.json(url, function(data) {
    var mortalityData = data.data;

    var visualization = d3plus.viz()
    .container("#chart-gender")
    .data(mortalityData)
    .type("bar")
    .id("sex")
    .x("sex")
    .y("count")
    .draw()

  // normalize/parse data so dc can correctly sort & bin them
  // I like to think of each "d" as a row in a spreadsheet
{#  _.each(mortalityData, function(d) {#}
{#    d.count = +d.count;#}
{#    // round to nearest 0.25#}
{#  });#}

{#  // set crossfilter#}
{#  var ndx = crossfilter(mortalityData);#}
{##}
{#  // create dimensions (x-axis values)#}
{#  var genderDim  = ndx.dimension(function(d) {return d.sex;}),#}
{#      // dc.pluck: short-hand for same kind of anon. function we used for yearDim#}
{#      raceDim  = ndx.dimension(function(d) {return d.race;}),#}
{#      ageDim = ndx.dimension(function(d) {return d.age;}),#}
{#      causeDim = ndx.dimension(function(d) {return d.cause;}),#}
{#      allDim = ndx.dimension(function(d) {return d;});#}

  // create groups (y-axis values)
{#  var all = ndx.groupAll();#}
{#  var countPerGender = genderDim.group().reduceSum(function(fact) { return fact.count; }),#}
{#      countPerRace = raceDim.group().reduceSum(function(fact) { return fact.count; }),#}
{#      countPerAge = ageDim.group().reduceSum(function(fact) { return fact.count; }),#}
{#      countPerCause = causeDim.group().reduceSum(function(fact) { return fact.count; });#}

  // specify charts
{#  var genderChart   = dc.barChart('#chart-gender'),#}
{#      raceChart   = dc.barChart('#chart-race'),#}
{#      monthChart   = dc.barChart('#chart-month'),#}
{#//      dayChart  = dc.pieChart('#chart-ring-day'),#}
{#      ageChart  = dc.barChart('#chart-age'),#}
{#      mannerChart  = dc.pieChart('#chart-ring-manner'),#}
{#      causeChart  = dc.barChart('#chart-cause'),#}
{#      dataCount = dc.dataCount('#data-count');#}
{#//      dataTable = dc.dataTable('#data-table');#}


{#  genderChart#}
{#    .width(715)#}
{#    .height(270)#}
{#    .dimension(genderDim)#}
{#    .group(countPerGender)#}
{#    .ordinalColors(['#FF0000', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])#}
{#    .x(d3.scale.ordinal())#}
{#    .xUnits(dc.units.ordinal)#}
{#    .elasticY(true)#}
{#    .margins({top: 20, left: 75, right: 10, bottom: 20}#}
{#    .title(function (d) {#}
{#                return d.value;#}
{#            })#}
{#    .yAxis().ticks(4);#}


{#  genderChart#}
{#    .width(715)#}
{#    .height(270)#}
{#    .x(d3.scale.ordinal())#}
{#    .elasticX(true)#}
{#    .dimension(genderDim)#}
{#    .group(countPerGender)#}
{#    .ordinalColors(['#2F4F6F', '#CD4646', '#9ecae1', '#c6dbef', '#dadaeb'])#}
{#    .colors(d3.scale.ordinal().domain(["Male","Female"])#}
{#                                .range(["#2F4F6F","#CD4646"]))#}
{#    .colorAccessor(function(d) {#}
{#            return d.value;})#}
{#    .legend(dc.legend().x(200).y(-300).itemHeight(30).gap(5))#}
{#    .title(function (d) {#}
{#                return d.value;#}
{#            })#}
{#    .yAxisLabel('2014 Mortalities by Gender')#}
{#    .xAxis().ticks(4);#}





{#  raceChart#}
{#    .width(800)#}
{#    .height(310)#}
{#    .dimension(raceDim)#}
{#    .group(countPerRace)#}
{#    .colors(d3.scale.ordinal().domain(["Black","White","Chinese"])#}
{#                                .range(["#FF8166","#FFB563","#C19A1F","#82A8E7",""]))#}
{#    .colorAccessor(function(d) {#}
{#            return d.value;})#}
{#    .x(d3.scale.ordinal())#}
{#    .xUnits(dc.units.ordinal)#}
{#    .elasticY(true)#}
{#    .margins({top: 20, left: 75, right: 10, bottom: 20})#}
{##}
{#  ageChart#}
{#    .width(800)#}
{#    .height(310)#}
{#    .x(d3.scale.ordinal())#}
{#    .xUnits(dc.units.ordinal)#}
{#    .ordinalColors(['#FF0000', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])#}
{#    .elasticY(true)#}
{#    .dimension(ageDim)#}
{#    .margins({top: 20, left: 75, right: 10, bottom: 20})#}
{#    .group(countPerAge)#}
{#    .title(function (d) {#}
{#                return d.value;#}
{#            })#}
{#    .yAxis().ticks(4);#}
{##}
{##}
{#    causeChart#}
{#    .width(800)#}
{#    .height(310)#}
{#    .x(d3.scale.ordinal())#}
{#    .xUnits(dc.units.ordinal)#}
{#    .ordinalColors(['#FF0000', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])#}
{#    .elasticY(true)#}
{#    .dimension(causeDim)#}
{#    .margins({top: 20, left: 75, right: 10, bottom: 20})#}
{#    .group(countPerCause)#}
{#    .title(function (d) {#}
{#                return d.value;#}
{#            })#}
{#    .yAxis().ticks(4);#}


{#  dataCount#}
{#      .dimension(ndx)#}
{#      .group(all);#}
{##}
{##}
{#  // register handlers#}
{#  d3.selectAll('a#all').on('click', function () {#}
{#    dc.filterAll();#}
{#    dc.renderAll();#}
{#  });#}
{##}
{##}
{#  // showtime!#}
{#  dc.renderAll();#}

});



var genSelect = $("#gen").selectize({
    placeholder: 'Gender',
    maxItems: null,
    valueField: 'id',
    labelField: 'gen',
    searchField: 'gen',
    options: gen
});

var genControl = genSelect[0].selectize;

var topicarray = [
    {id:"cause", topic:'Cause'},
{id:"resident_status", topic:'Resident Status'},
{id:"place_of_death_and_decedents_status", topic:'Place Of Death And Decedents Status'},
{id:"injury_at_work", topic:'Injury At Work'},
{id:"manner_of_death", topic:'Manner Of Death'},
{id:"method_of_disposition", topic:'Method Of Disposition'},
{id:"activity_code", topic:'Activity Code'},
{id:"place_of_injury", topic:'Place Of Injury'}
];

var topicSelect = $("#topicBox").selectize({
    placeholder: 'Topic',
    maxItems: 1,
    valueField: 'id',
    labelField: 'topic',
    searchField: 'topic',
    options: topicarray
});
var topicControl = topicSelect[0].selectize;

var race = [
{id: "'Black'", race: 'Black'},
{id: "'Samoan'", race: 'Samoan'},
{id: "'Hawaiian (includes Part-Hawaiian)'", race: 'Hawaiian (includes Part-Hawaiian)'},
{id: "'Asian Indian'", race: 'Asian Indian'},
{id: "'White'", race: 'White'},
{id: "'Guamanian'", race: 'Guamanian'},
{id: "'American Indian (includes Aleuts and Eskimos)'", race: 'American Indian (includes Aleuts and Eskimos)'},
{id: "'Other Asian or Pacific Islander in areas reporting codes 18-58'", race: 'Other Asian or Pacific Islander in areas reporting codes 18-58'},
{id: "'Combined other Asian or Pacific Islander, includes codes 18-68 for areas that do not report them separately'", race: 'Combined other Asian or Pacific Islander, includes codes 18-68 for areas that do not report them separately'},
{id: "'Korean'", race: 'Korean'},
{id: "'Filipino'", race: 'Filipino'},
{id: "'Chinese'", race: 'Chinese'},
{id: "'Japanese'", race: 'Japanese'},
{id: "'Vietnamese'", race: 'Vietnamese'}
];

var raceSelect = $("#raceethnicity").selectize({
    placeholder: 'Race / Ethnicity',
    maxItems: null,
    valueField: 'id',
    labelField: 'race',
    searchField: 'race',
    options: race
});
var raceControl = raceSelect[0].selectize;

var states = [
{id:"'Alabama'", state:'Alabama'},
{id:"'Alaska'", state:'Alaska'},
{id:"'Arizona'", state:'Arizona'},
{id:"'Arkansas'", state:'Arkansas'},
{id:"'California'", state:'California'},
{id:"'Colorado'", state:'Colorado'},
{id:"'Connecticut'", state:'Connecticut'},
{id:"'Delaware'", state:'Delaware'},
{id:"'District of Columbia'", state:'District of Columbia'},
{id:"'Florida'", state:'Florida'},
{id:"'Georgia'", state:'Georgia'},
{id:"'Hawaii'", state:'Hawaii'},
{id:"'Idaho'", state:'Idaho'},
{id:"'Illinois'", state:'Illinois'},
{id:"'Indiana'", state:'Indiana'},
{id:"'Iowa'", state:'Iowa'},
{id:"'Kansas'", state:'Kansas'},
{id:"'Kentucky'", state:'Kentucky'},
{id:"'Louisiana'", state:'Louisiana'},
{id:"'Maine'", state:'Maine'},
{id:"'Maryland'", state:'Maryland'},
{id:"'Massachusetts'", state:'Massachusetts'},
{id:"'Michigan'", state:'Michigan'},
{id:"'Minnesota'", state:'Minnesota'},
{id:"'Mississippi'", state:'Mississippi'},
{id:"'Missouri'", state:'Missouri'},
{id:"'Montana'", state:'Montana'},
{id:"'Nebraska'", state:'Nebraska'},
{id:"'Nevada'", state:'Nevada'},
{id:"'New Hampshire'", state:'New Hampshire'},
{id:"'New Jersey'", state:'New Jersey'},
{id:"'New Mexico'", state:'New Mexico'},
{id:"'New York'", state:'New York'},
{id:"'North Carolina'", state:'North Carolina'},
{id:"'North Dakota'", state:'North Dakota'},
{id:"'Ohio'", state:'Ohio'},
{id:"'Oklahoma'", state:'Oklahoma'},
{id:"'Oregon'", state:'Oregon'},
{id:"'Pennsylvania'", state:'Pennsylvania'},
{id:"'Rhode Island'", state:'Rhode Island'},
{id:"'South Carolina'", state:'South Carolina'},
{id:"'South Dakota'", state:'South Dakota'},
{id:"'Tennessee'", state:'Tennessee'},
{id:"'Texas'", state:'Texas'},
{id:"'Utah'", state:'Utah'},
{id:"'Vermont'", state:'Vermont'},
{id:"'Virginia'", state:'Virginia'},
{id:"'Washington'", state:'Washington'},
{id:"'West Virginia'", state:'West Virginia'},
{id:"'Wisconsin'", state:'Wisconsin'},
{id:"'Wyoming'", state:'Wyoming'}

];

var stateSelect = $("#stateofdeath").selectize({
    placeholder: 'State of Death',
    maxItems: null,
    valueField: 'state',
    labelField: 'state',
    searchField: 'state',
    options: states
});
var stateControl = stateSelect[0].selectize;

</script>