<style>
	#mortality-headr {
		background-color: #E9E9E9;
		flex-wrap: wrap;
		padding: 0 25px
	}

	{ padding: 0 !important;}

	#snip-container {
		width: 100vw;
	}
	.item {
		font-size: 14px;
		letter-spacing: 1px;
		font-family: "Palanquin", sans-serif;
		font-weight: 400;
		text-transform: uppercase;
	}
	#myEdit {
		width: 100%;
		height: 3200px;
	}
	#myEdit2 {
		width: 100%;
		height: 1190px;
	}
	#frameDemo {
		position: relative;
	}
</style>
<a href="#mortality" name="mortality" style="padding-bottom:114px;"></a>
<section class="profile-section" style="padding-top:114px;">
<div id="myEdit" class="col-sm-12 col-md-12">
	<iframe src="/static/mortalityandRiskCharts/index.html" width="100%" height="3200" class="frameDemo"></iframe>
</div>
</section>
<a href="#yrbs" name="yrbs" style="padding-bottom:75px;"></a>
<section class="profile-section" style="background-color: #fff !important; padding-top:75px;">
<div id="myEdit2" class="col-sm-12 col-md-12" style="background-color: #FFF !important;">
	<iframe src="/static/mortalityandRiskCharts/riskyBehave.html" width="100%" height="1190" class="frameDemo2"></iframe>
</div>
</section>
<script>

{#	console.log(currentState); #}
</script>
